---
export const prerender = false;
import BackgroundBlog from "../../components/BackgroundBlog.astro";
import PostGrid from "../../components/PostGrid.jsx";
import PostSection from "../../components/PostSection";
import { loadQuery } from "../../sanity/lib/load-query";
import Layout from "./../../layouts/Layout.astro";

// SEO Configuration
const seoTitle = "Yuly Vp | Blog Digital Painting Tutorials & Creative Insights";
const seoDescription =
  "Educational articles and behind-the-scenes guides on digital art techniques, character design workflows, and traditional drawing methods.";
const seoImage = "/social-blog.webp";

// Data Query
const POSTS_QUERY = `*[ 
  _type == "post" 
  && defined(slug.current)
]|order(publishedAt desc)[0...12]{
  _id,
  title,
  slug,
  publishedAt,
  description,
  "mainImage": mainImage.asset->url,
  "imageWidth": mainImage.asset->metadata.dimensions.width,
  "imageHeight": mainImage.asset->metadata.dimensions.height,
  'alt' : mainImage.alt
}`;

const { data: posts } = await loadQuery({ query: POSTS_QUERY, params: {} });
---

<Layout
  title={seoTitle}
  description={seoDescription}
  image={seoImage}
  canonicalUrl={Astro.url.href}
>
  <BackgroundBlog />
  <div>
    <PostSection client:load />
    <PostGrid posts={posts} client:load />
  </div>
</Layout>
