---
export const prerender = true;
import { loadQuery } from "./../../sanity/lib/load-query";
import PortableText from "./../../components/PortableText.astro";
import Layout from "./../../layouts/Layout.astro";
import PortableTextImage from "../../components/PortableTextImage.astro";
import TagsPost from "./../../components/TagsPost.astro";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery({
    query: `*[_type == "post"]{slug}`,
    params: {},
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery({
  query: `*[_type == "post" && slug.current == $slug][0]{title,publishedAt, body, mainImage,
    "imageWidth": mainImage.asset->metadata.dimensions.width,
    "imageHeight": mainImage.asset->metadata.dimensions.height, categories[]->{
    title,
  }}`,
  params, // Aseguramos que se pase params al objeto
});
---

<Layout title={post.title}>
  <main class="container mx-auto max-w-3xl flex flex-col h-[5000px] text-white">
    <a
      href="/post"
      class="hover:underline font-bold fixed text-xl p-4 bg-black/50 w-full"
      >&larr; Back to posts</a
    >

    {
      post.mainImage && (
        <PortableTextImage
          asset={post.mainImage.asset}
          alt={post.mainImage.alt}
          tamanio={1000}
          imageHeight={post.imageHeight}
          imageWidth={post.imageWidth}
          classImg="w-full h-full object-cover"
        />
      )
    }
    <div class="p-4">
      <h1 class="text-4xl font-bold capitalize">{post.title}</h1>
      <ul class="space-x-1 my-2 capitalize">
        {
          post.categories.map((category) => (
            <TagsPost>{category.title}</TagsPost>
          ))
        }
      </ul>
      <div class="prose">
        <p>
          Published: {new Date(post.publishedAt).toLocaleDateString()}
        </p>
        <PortableText portableText={post.body} />
      </div>
    </div>
  </main>
</Layout>
